In [2]:

import joblib
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

# Data collection and analysis

In [3]:
Dataset=pd.read_csv('D:\Diabeties_detection\python_server\diabetes.csv')

In [4]:
Dataset.head() # gives first five
Dataset.shape # here 768 rows and 9 columns
Dataset.describe() # gives statistical measures of the data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [5]:
Dataset['Outcome'].value_counts() # here 500 are 0 and 268 diabetic patients
X=Dataset.drop(columns='Outcome',axis=1) # drop last column  here axis =1  used when droping a column and axis=0 used when droping a row
Y=Dataset['Outcome'] # gives the values of the columns Outcome to y

In [6]:
Dataset.groupby('Outcome').mean() # Here it would calculate the mean of the Diabetic and non diabetic patients
#since outcome columns have only two values

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [7]:

print("Hello")
print(X)
print(Y)

Hello
     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [8]:
scaler=StandardScaler()
scaler.fit(X)
Standardized_X=scaler.transform(X)
print(Standardized_X)
Y=Dataset['Outcome'] # gives the values of the columns Outcome to y

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

Train Test Split

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(Standardized_X,Y,test_size=0.1,stratify=Y,random_state=2)
 # stratify is done to y since we want y to be equally distibuted means the ratio of o and 1 would be same in both almost
# print(X_train )

print(Y.value_counts())
print(Y_train.value_counts())
print(Y_test.value_counts())

0    500
1    268
Name: Outcome, dtype: int64
0    450
1    241
Name: Outcome, dtype: int64
0    50
1    27
Name: Outcome, dtype: int64

In [10]:
classifier=svm.SVC(kernel='linear')
# training the model
classifier.fit(X_train,Y_train)
# prediction the value
X_train_prediction =classifier.predict(X_train)
print(accuracy_score(Y_train,X_train_prediction) )

X_test_prediction=classifier.predict(X_test)

print(accuracy_score(Y_test,X_test_prediction))

0.784370477568741
0.7792207792207793

In [11]:
input_data=(8,99,84,0,0,35.4,0.388,50)
# here we have to change it in numpy array since it is more efficient and faster
input_data_numpy=np.asarray(input_data)
input_data_numpy.shape # here shape is like 1D array
input_data_reshaped=input_data_numpy.reshape(1,-1)
input_data_reshaped.shape # here shape is like 2D array and is row vector with 8 columns

input_data_standardized=scaler.transform(input_data_reshaped)
print(input_data_standardized)

prediction=classifier.predict(input_data_standardized)
print(prediction)

[[ 1.23388019 -0.68523633  0.77001375 -1.28821221 -0.69289057  0.43246741
  -0.25331639  1.4259954 ]]
[0]

c:\Users\aggar\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [12]:
if(prediction[0]==0):
  print('The person is not diabetic')
else:
  print('The person is diabetic')

The person is not diabetic

In [14]:
# Save the scaler
joblib.dump(scaler, 'scaler.pkl')

['scaler.pkl']

In [ ]:
joblib.dump(classifier, 'diabetes_model.pkl')